{
  "explorer.icon.enableNerdfont": true,
  "coc.preferences.formatOnSaveFiletypes": [
    "javascript",
    "typescript",
    "json",
    "javascriptreact",
    "typescriptreact",
    "typescript.tsx",
    "html",
    "css",
    "scss",
    "markdown",
    "go",
    "json",
    "dart"
  ],
  "suggest.noselect": false
}
